---
---

$font-import-url: "https://fonts.googleapis.com/css?family=Roboto%3A500%7CRoboto%3Anormal%7CRoboto%3A700%7CRoboto%3Aitalic%7CRoboto%3A700italic%7CCabin%3A700%7CCabin%3A500&ver=9056303960094196203";

$colour_primary: #333333;
$colour_secondary: #ffffff;
$colour_nav_primary: #ffffff;
$colour_nav_secondary: #333333;
$colour_nav_border: #e2001a;
$colour_dropdown_nav_bg: #f9f9f9;
$colour_dropdown_nav_hover: #c40319;
$colour_dropdown_link: #898989;
$colour_text_primary: #333333;
$colour_bg: #ffffff;

$font: Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;

@import "club";

body {
  background-color: $colour_bg;
  //padding-top: 128px !important;
  padding-top: 0 !important;
  color: $colour_primary;

  @media (min-width: $xl) {
    //padding-top: 150px !important;
  }
}

.nav-container {
  background: white;
  padding: 1px 0 0 0;
  margin: 1.5rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: none;

  @media (min-width: $xl) {
    margin: 1.5rem 0 0;
    display: block;
  }

  .navbar {
    background-color: white !important;
    padding-bottom: 0;
    margin: 0 auto !important;
    width: 100%;

    .navbar-brand img.navbar-logo {
      max-width: 140px;
      vertical-align: baseline;
    }

    @media (min-width: $sm) {
      max-width: 540px;
    }
    @media (min-width: $md) {
      max-width: 720px;
    }
    @media (min-width: $lg) {
      max-width: 960px;
    }
    @media (min-width: $xl) {
      max-width: 1140px;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-toggler {
      color: rgba(0,0,0,.5);
      border-width: 0;

      .navbar-toggler-icon {
        vertical-align: baseline;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3,3,3, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
      }
    }

    .navbar-collapse {
      padding-bottom: 1rem;
      @media (min-width: $xl) {
        padding-bottom: 0;
      }
    }

    .navbar-nav.mr-auto {
      > li {
        @media (min-width: $xl) {
          margin-left: 0;
          padding: 15px;
          padding-top: 5px;
          margin-top: 5px;
        }
      }
    }

    .dropdown-menu {
      border: 1px solid $colour_nav_secondary;
      a {
        color: $colour_nav_secondary;
      }
    }

  }

  #club-navbar {
    @media (min-width: $xl) {
      background-color: #eeeeee !important;
    }

    .navbar-brand {
      @media (min-width: $xl) {
        display: none;
      }
    }

    padding-bottom: 0;

    .navbar-nav.mr-auto {
      .active {
        @media (min-width: $xl) {
          background-color: $colour_bg;
          margin-bottom: -1px;
          border: 1px solid #ccc;
          border-bottom: 0;
          //padding-top: 10px;
          //padding-bottom: 7.5px;
        }

        a {
          color: $colour_primary;
        }
      }
    }

    .d-none.d-xl-flex li {
      margin-top: -8px;
    }

    .btn-outline-primary {
      border-width: 0 !important;
    }
  }

  #brand-navbar {

    position: initial;

    a {
      color: $colour_primary;
      font-weight: 500;

      &.navbar-brand {
        padding-bottom: 0;
      }
    }

    .navbar-nav.mr-auto {
      > li {
        position: initial;
        cursor: pointer;
        padding: 0;
        margin: 0;
        padding-bottom: 4px;

        > a {
          text-decoration: none;
          display: block;
          position: relative;

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }

          @media (min-width: $xl) {
            margin-left: 0;
            padding: 10px;
            padding-top: 5px;
            margin-top: 5px;
          }

          &:after {
            content: '';
            position: absolute;
            left: 10px;
            right: calc(100% - 10px);
            bottom: 5px;
            height: 4px;
            background: $colour_nav_border;
            transition: width .3s ease;
            width: 0;
          }

          &:hover {
            &:after {
              width: calc(100% - 18px);
            }
          }

        }

        &.dropdown {
          > .dropdown-menu {
            display: none;
            background: $colour_dropdown_nav_bg;
            border-radius: 0;

            > .container {
              display: flex;
            }
          }

          &:hover {
            > .dropdown-menu {
              display: block;
            }
          }
        }

        > .dropdown-menu {
          border: none;
          left: 0;
          right: 0;
          padding: 15px;

          > .container {
            flex-direction: row;
            flex-wrap: wrap;
          }

          a {
            position: relative;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 0.9em;
            font-weight: 600;
            flex-basis: 16%;
            margin-top: 10px;
            margin-bottom: 10px;
            color: $colour_dropdown_link;

            &:hover {
              color: $colour_dropdown_nav_hover;
            }

            &:active {
              color: $colour_dropdown_nav_hover;
              background: none;
            }
          }
        }
      }
    }
  }

}

.billboard-ad-container {
  &.top-billboard {
    background: #f7f7f7;
  }
}

#club-nav-container {
  z-index: 1000 !important;
  display: block !important;
  @media (min-width: $xl) {
    margin: 0 0 1.5rem;
    border-top-width: 0;
    background-color: #eeeeee;
  }
}

body.competition {
  .hero {
    position: relative;
    margin-top: -110px;
    padding-top: 60px;
    border-top: 50px solid white;
    z-index: 0;

    @media (min-width: $xl) {
      margin-top: -160px;
      padding-top: 90px;
    }
  }
}

footer {
  background-color: $colour_primary;
  color: $colour_secondary;

  nav {
    a {
      color: $colour_secondary;
      &:hover {
        color: $colour_secondary;
      }
    }
  }
}