.billboard-ad-container {
  padding: 10px 0;
  #billboardSlot, #base-topleaderboard, #base-bottomleaderboard {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  & + .nav-container {
    z-index: 999;
    margin-top: 0;
  }
}