.competition-card {
  border-bottom: 1px solid $colour_bg_gray;
  padding-bottom: 15px;
  padding-top: 15px;

  > .row {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &:first-child {
    &.promoted {
      margin-top: 1rem;
    }
  }

  &:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }

  &.promoted {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $md) {
      padding-left: 0;
      padding-right: 0;
    }

    > .row {
      border: 1px solid #b90000;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    &:before {
      content: "selected for you";
      color: #b90000;
      position: absolute;
      margin-top: -5px;
      font-weight: 700;
      font-size: 0.8rem;
    }
  }

  .competition-card--banner {
    .advertiser-banner {
      width: 100%;
    }

    .advertiser-logo {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 5%;
      width: 35%;
      min-height: 20%;
      background-color: #ffffff;
      margin-left: 15px;
      padding: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      vertical-align: middle;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }
  }

  .competition-card--description {
    margin-bottom: 0;

    @media (min-width: $sm) {
      margin-bottom: 50px;
    }

    //p {
    //  display: none;
    //
    //  &:first-child {
    //    display: block;
    //  }
    //}
  }

  .competition-card--footer {
    @media (min-width: $sm) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    > div {

      @media (max-width: $sm) {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .competition-card--status {
      span {
        border: 1px dashed $colour_primary;
        border-radius: 3px;
        display: inline-block;
        padding: .375rem .75rem;
        color: $colour_primary;
      }
    }
  }
}
