/* offset anchor due to nav header */
.anchor {
  position: relative;
  top: -4rem;
}

/* hide and show elements based on existance of busy class */
.show-when-busy {
  display: none;
}

.busy {
  .hide-when-busy {
    display: none;
  }

  .show-when-busy {
    display: inline;
  }
}

/* hide and show elements based on existance of logged in status class */
.logged-in-only {
  display: none;
}

.logged-in {
  .logged-in-only {
    display: inherit;
  }
  .logged-out-only {
    display: none;
  }
}

.show-if-entered-block,
.show-if-entered-flex,
.show-if-entered {
  display: none !important;
}

.competition-entered {
  &.show-if-entered,
  .show-if-entered {
    display: inherit !important;
  }

  &.show-if-entered-flex,
  .show-if-entered-flex {
    display: flex !important;
  }

  &.show-if-entered-block,
  .show-if-entered-block {
    display: block !important;
  }

  &.hide-if-entered,
  .hide-if-entered {
    display: none !important;
  }
}

.show-if-entered-any {
  display: none;
}

.entered-at-least-one {
  .show-if-entered-none {
    display: none;
  }
  .show-if-entered-any {
    display: block;
  }
}

.show-if-expired,
.show-if-expired-flex {
  display: none;
}

.is-expired {
  &.hide-if-expired,
  .hide-if-expired {
    display: none !important;
  }
  .show-if-expired {
    display: block;
  }
  .show-if-expired-flex {
    display: flex;
  }
}

.show-if-reenter-never,
.show-if-reenter-now,
.show-if-reenter-later {
  display: none;
}

.reenter-later {
  .show-if-reenter-later {
    display: block;
  }
}

.reenter-now {
  &.show-if-reenter-now,
  .show-if-reenter-now {
    display: block !important;
  }

  &.show-if-reenter-now-flex,
  .show-if-reenter-now-flex {
    display: flex !important;
  }
}

.reenter-never {
  .show-if-reenter-never {
    display: block;
  }
}

.show-if-has-entry-count {
  display: none;
}

[data-entry-count] {
  .show-if-has-entry-count {
    display: block;
  }
}

.not-open {
  display: none !important;
}