/* offset anchor due to nav header */
.anchor {
  position: relative;
  top: -4rem;
}

/* hide and show elements based on existance of busy class */
.show-when-busy {
  display: none;
}

.busy {
  .hide-when-busy {
    display: none;
  }

  .show-when-busy {
    display: inline;
  }
}

/* hide and show elements based on existance of logged in status class */
.logged-in-only {
  display: none;
}

.logged-in {
  .logged-in-only {
    display: inherit;
  }
  .logged-out-only {
    display: none;
  }
}

.show-if-entered {
  display: none;
}

.competition-entered {
  .show-if-entered {
    display: inherit;
  }
  .hide-if-entered {
    display: none;
  }
}