.font-default, body, form, input, select, textarea, body, form, input, select, textarea {
  font-family: $font !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  color: $colour_text_primary;
  padding-bottom: 163px;

  @media (min-width: $md) {
    padding-bottom: 67px;

    &.pb-big {
      padding-bottom: 120px;
    }
  }
}

footer {
  background-color: $colour_bg_gray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  nav {
    a {
      color: $colour_text_primary;
    }
  }
}

a {
  color: $colour_primary;

  &:hover {
    color: $colour_primary;
  }
}

hr {
  width: 150px;
  height: 2px;
  background-color: $colour_primary;
  border: 0;
  margin-bottom: 80px;
}

.container-fluid {
  max-width: 1140px;
}

.bg-main {
  background-color: $colour_primary !important;
}

.advertiser-banner {
  position: relative;
  width: 100%;
  padding-top: 71.428571428%;
  background-size: cover;
  background-repeat: no-repeat;

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
  }
}

.modal-open {
  .fixed-top {
    padding-right: 0 !important;
  }
}

.in-profile .safety-message {
  display: none;
}