.growable {
  display: flex;
  flex-direction: column;

  .grow { flex: 1; flex-basis: auto; }
  .grow-1 { flex: 1; flex-basis: auto; }
  .grow-2 { flex: 2; flex-basis: auto; }
  .grow-3 { flex: 3; flex-basis: auto; }
  .grow-4 { flex: 4; flex-basis: auto; }
  .grow-5 { flex: 5; flex-basis: auto; }
  .grow-6 { flex: 6; flex-basis: auto; }
  .grow-7 { flex: 7; flex-basis: auto; }
  .grow-8 { flex: 8; flex-basis: auto; }
  .grow-9 { flex: 9; flex-basis: auto; }
  .grow-10 { flex: 10; flex-basis: auto; }
  .grow-11 { flex: 11; flex-basis: auto; }
  .grow-12 { flex: 12; flex-basis: auto; }

  .center {
    display: flex;
    flex-direction: column;

    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;

    > div {
      margin-top: auto;
    }
  }
}

body.growable {
  margin: 0;
  min-height: 100vh;
  height: auto !important;
}


