
.history-card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;

    &:nth-child(3n) {
      //padding-left: 0;
    }

    &:nth-child(3n+3) {
      //padding-right: 0;
    }
  }

  .history-card {
    height: 100%;
    border: 1px solid $colour_bg_gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .advertiser-banner {
      width: 100%;
      border-radius: 0.25rem 0.25rem 0 0 !important;
    }

    .history-card--status {
      span {
        border: 1px dashed $colour_primary;
        border-radius: 3px;
        display: inline-block;
        padding: .375rem .75rem;
        color: $colour_primary;
      }
    }

    &.is-expired {
      .history-card--banner {
        position: relative;

        &:before {
          content: 'Closed';
          color: $colour_secondary;
          position: absolute;
          top: 32px;
          left: 0;
          font-size: 13px;
          z-index: 9;
        }

        &:after {
          content: '';
          border-top: 25px solid $colour_text_primary;
          border-right: 15px solid transparent;
          position: absolute;
          top: 30px;
          left: -5px;
          width: 70px;
        }
      }
    }

    .history-card--content {
      flex-grow: 1;
    }

    .history-card--footer {
      .advertiser-logo {
        height: 40px;
        display: flex;
        flex-direction: column-reverse;
        img {
          max-height: 100%;
          max-width: 70%;
          margin-bottom: -10px;
        }
      }
    }
  }
}

