.modal-footer {
  justify-content: flex-start;

  button {
    padding-left: 65px;
    padding-right: 65px;
  }
}

// fix for iOS input bug
body.is-ios.modal-open {
  position: fixed;
  margin-left: -33.3333%;
  left: 50%;
}