$button-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.45);
.navbar {
  .navbar-brand {
    img {
      &.navbar-logo {
        max-width: 100px;
      }
    }
  }

  a {
    color: $colour_nav_secondary;
  }

  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;

    @media (min-width: $md) {
      display: none;
    }
  }

  .navbar-nav.mr-auto {
    > li {
      @media (min-width: $md) {
        margin-left: 30px;
      }

      &.active {
        a {
          font-weight: 700;
        }
      }
    }
  }

  .navbar-nav.ml-auto {
    > li {
      @media (min-width: $md) {
        margin-left: 10px;
        margin-right: 0;
      }
    }

    .btn-outline-primary {
      color: $colour_nav_secondary;
      background-color: transparent;
      border-color: $colour_nav_secondary;
    }

    .btn-outline-primary:hover {
      color: $colour_nav_primary;
      background-color: $colour_nav_secondary;
      border-color: $colour_nav_primary;
    }

    .btn-outline-primary:focus, .btn-outline-primary.focus {
      box-shadow: $button-box-shadow;
    }

    .btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
      color: $colour_nav_primary;
      background-color: $colour_nav_secondary;
      border-color: $colour_nav_primary;
      box-shadow: $button-box-shadow;
    }
  }

  .dropdown-menu {
    border: 1px solid $colour_nav_primary;

    a {
      color: $colour_nav_primary;
    }
  }
}

