$button-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.45);
.navbar-nav {
  > li {
    margin-left: 10px;
    margin-right: 0;
  }

  .btn-outline-primary {
    color: $colour_secondary;
    background-color: transparent;
    border-color: $colour_secondary;
  }

  .btn-outline-primary:hover {
    color: $colour_primary;
    background-color: $colour_secondary;
    border-color: $colour_primary;
  }

  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: $button-box-shadow;
  }

  .btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: $colour_primary;
    background-color: $colour_secondary;
    border-color: $colour_primary;
    box-shadow: $button-box-shadow;
  }
}

.dropdown-menu {
  border: 1px solid $colour_primary;
}

