$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$colour_primary: #66bade !default;
$colour_secondary: #ffffff !default;
$colour_nav_primary: #66bade !default;
$colour_nav_secondary: #ffffff !default;
$colour_text_primary: #717171 !default;
$colour_danger: #dc3545 !default;
$colour_bg_gray: #f7f7f7 !default;
$colour_bg_white: #ffffff !default;
$colour_bg_disabled: #e9ecef !default;
$color_mako_approx: #111810 !default;

$font: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;
