<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
</script>
<script>
    googletag.cmd.push(function() {
        var top_leaderboard_mapping = googletag.sizeMapping().
        addSize([980, 400], [970, 90],[728, 90]).
        addSize([730, 200], [728, 90]).
        addSize([0, 0], [320, 50]).
        build();
        var bottom_leaderboard_mapping = googletag.sizeMapping().
        addSize([980, 400], [970, 250],[970, 90],[728, 90]).
        addSize([730, 200], [728, 90]).
        addSize([0, 0], [320, 50]).
        build();
        googletag.defineSlot('/273427535/xly_club_allpages_leaderboard', [320, 50], 'base_topleaderboard').defineSizeMapping(top_leaderboard_mapping).addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_allpages_bottomleaderboard', [320, 50], 'base_bottomleaderboard').defineSizeMapping(bottom_leaderboard_mapping).addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_thankyou_MPU', [300, 250], 'div-gpt-ad-1539117313716-0').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_processing_mpu_left', [300, 250], 'processing_mpu_left').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_processing_mpu_right', [300, 250], 'processing_mpu_right').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_thankyou_mpu_topleft', [300, 250], 'thankyou_mpu_topleft').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_thankyou_mpu_topright', [300, 250], 'thankyou_mpu_topright').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_thankyou_mpu_bottomleft', [300, 250], 'thankyou_mpu_bottomleft').addService(googletag.pubads());
        googletag.defineSlot('/273427535/xly_club_thankyou_mpu_bottomright', [300, 250], 'thankyou_mpu_bottomright').addService(googletag.pubads());

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>
