<div class="ad-placement" xstyle="background: red;" data-position="#competition-cards .competition-card:visible">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-e2+17+1s-jf+oz"
         data-ad-client="ca-pub-4949036163981273"
         data-ad-slot="4799401662"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
