<div class="modal fade" id="modal--password-reset-request" tabindex="-1" role="dialog" aria-labelledby="modal--password-reset-request-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal--password-reset-request-label">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="form--password-reset-request">
                        {% assign form_input_id_prefix = 'form--password-reset-request--' %}
                        {% include form_input_text.html id="email" label="Email" type="email" required="true" placeholder="Enter your email" autocomplete="username email" error="Please enter a valid email" maxlength="128" %}
                        {% assign form_input_id_prefix = '' %}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="m-auto">
                    <button id="action--password-reset-request" type="button" class="btn btn-primary disable-if-busy">
                        Reset Password
                        <span class="show-when-busy"> <img
                                src="https://assets01.buyexpressly.com/microsite/spinner.gif" height="18px"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>