<div class="modal fade" id="modal--password-reset" tabindex="-1" role="dialog" aria-labelledby="modal--password-reset-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal--password-reset-label">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="form--password-reset">
                        {% assign form_input_id_prefix = 'form--password-reset--' %}
                        {% include form_input_text.html help="Password must be at least 8 characters long" id="newPassword" label="Password" type="password" required="true" placeholder="Enter a new password" autocomplete="new-password" error="Please enter a password for your account. It must be at least 8 characters long"  maxlength="64" pattern=".{8,}" %}
                        {% assign form_input_id_prefix = '' %}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="m-auto">
                    <button id="action--password-reset" type="button" class="btn btn-primary disable-if-busy">
                        Reset Password
                        <span class="show-when-busy"> <img
                                src="https://assets01.buyexpressly.com/microsite/spinner.gif" height="18px"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>