<div class="competition-card {% if include.item.is_promoted %}promoted{% endif %}" id="eid-{{include.item.campaign-uuid}}" data-competition-toggle="{{include.item.campaign-uuid}}">
    <script>entrySet('eid-{{include.item.campaign-uuid}}', '{{include.item.campaign-uuid}}');</script>
    <div class="row">
        <div class="col-md-5 col-lg-4 competition-card--banner">
            <img class="rounded advertiser-banner" src="img/{{include.item.banner-img}}" />
            <div class="advertiser-logo"><img  src="img/{{include.item.logo-left-image}}" /></div>
        </div>
        <div class="col-md-7 col-lg-8 competition-card--content">
            <p class="text-muted small">Posted {{ include.item.date | date: '%B %d, %Y' }}</p>
            <h6><strong>{{ include.item.title }}</strong></h6>
            <div class="competition-card--description small">{{ include.item.section1-content }}</div>
            <div class="row justify-content-start align-items-center competition-card--footer">
                {% assign curr_date = site.time | date: "%Y-%m-%d" %}
                {% assign end_date = include.item.end-date | date: "%Y-%m-%d" %}
                {% if curr_date <= end_date %}
                <div class="col-12 col-sm-4 col-lg-3 competition-card--buttons text-center text-sm-left">
                    <div class="show-if-entered">
                        <a href="{{ include.item.url }}" class="h-100 btn btn-sm btn-primary px-5">View</a>
                    </div>
                    <div class="hide-if-entered">
                        <a href="{{ include.item.url }}" class="h-100 btn btn-sm btn-primary px-5">Enter</a>
                    </div>
                </div>
                <div class="col competition-card--status text-center text-sm-left">
                    <div class="show-if-entered">
                        <span class="h-100 small"><strong>Entry submitted</strong></span>
                    </div>
                    <div class="hide-if-entered">
                        <span class="h-100 small">Open until <strong class="avoid-wrap">{{ include.item.end-date | date: '%B %d, %Y' }}</strong></span>
                    </div>
                </div>
                {% else %}
                <div class="col competition-card--status text-center text-sm-left">
                    <div><span class="competition-over small">Competition over</span></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
