{% if page.type %}{% assign collection = site[page.collection] | where:"type",page.type %}
{% else %}{% assign collection = site[page.collection] %}
{% endif %}
<main role="main" class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 card-filter-container">
            <form class="form-horizontal">
                <div class="form-group">
                    <select class="form-control card-filter">
                        <option selected>All</option>
                        {% assign categories = collection | map: "category" | sort | uniq  %}
                        {% for category in categories  %}
                        <option data-filter="{{category | slugify}}" data-direction="desc">{{category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 card-filter-container">
            <form class="form-horizontal">
                <div class="form-group">
                    <select class="form-control card-sorter">
                        <option data-source="posted" data-direction="desc">Posted (latest)</option>
                        <option data-source="posted" data-direction="asc">Posted (oldest)</option>
                        <option data-source="closes" data-direction="desc">Deadline (latest)</option>
                        <option data-source="closes" data-direction="asc">Deadline (oldest)</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div id="competition-cards">
        {% assign items = collection | sort: 'date'  %}
        {% for item in items reversed  %}
        {% include club_competition_card.html item=item %}
        {% endfor %}
    </div>
</main>
