{% assign button-cta = "Get Now" %}
{% if include.item.type == 'Competition' %}{% assign button-cta = "Enter Now" %}{% endif %}
{% if include.item.has_entry_page %}
<div class="show-if-entered">
    <div class="show-if-reenter-now">
        <a href="{{item-url}}" class="h-100 btn btn-primary px-5">Enter Again</a>
    </div>
    <div class="show-if-reenter-later show-if-reenter-never">
        <a href="{{item-url}}" class="h-100 btn btn-primary px-5">View</a>
    </div>
</div>
<div class="hide-if-entered hide-if-expired">
    <a href="{{item-url}}" class="h-100 btn btn-primary px-5">{{button-cta}}</a>
</div>
{% else %}
<div class="show-if-entered hide-if-expired">
    <a data-powerlink="{{include.item.campaign-uuid}}" href="{{item-url}}" class="h-100 btn btn-primary px-5">View</a>
</div>
<div class="hide-if-entered hide-if-expired">
    <a data-powerlink="{{include.item.campaign-uuid}}" data-powerlink-auto="true" data-campaign-title="{{include.item.title | uri_escape}}" href="#" class="h-100 btn btn-primary px-5 disable-if-busy">{{button-cta}}</a>
</div>
{% endif %}
