{% assign item-path-prefix = (item.collection | prepend: "_") %}
{% assign item-url = (item.relative_path | replace: ".markdown", "" | replace: item-path-prefix, page.club_url) %}
<div class="competition-card {% if include.item.is_promoted %}promoted{% endif %}" id="eid-{{include.item.campaign-uuid}}"
     data-competition-toggle="{{include.item.campaign-uuid}}"
     data-posted="{{ include.item.date | date: '%Y%m%d' }}"
     data-closes="{{ include.item.end-date | date: '%Y%m%d' }}"
     data-expiration="{{ include.item.end-date | date_to_xmlschema }}"
     data-category="{{include.item.category | slugify}}">
    <script>entrySet('eid-{{include.item.campaign-uuid}}', '{{include.item.campaign-uuid}}');</script>
    <div class="row">
        <div class="col-md-5 col-lg-4 competition-card--banner">
            {% assign banner-img = include.item.banner-img %}
            {% if include.is-winner-card and include.item.winner-banner %}{% assign banner-img = include.item.winner-banner %}{% endif %}
            <div class="advertiser-banner rounded" style="background-image: url({{page.club_url}}/img/{{banner-img}})">
                {% if include.item.has_entry_page %}
                    <a href="{{item-url}}" class="hide-if-expired"></a>
                {% else %}
                    <a data-powerlink="{{include.item.campaign-uuid}}" href="{{item-url}}" class="hide-if-expired show-if-entered"></a>
                    <a data-powerlink="{{include.item.campaign-uuid}}" data-powerlink-auto="true" href="#" class="hide-if-expired hide-if-entered"></a>
                {% endif %}
                <div class="advertiser-logo"><img  src="img/{{include.item.logo-left-image}}" /></div>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 competition-card--content">
            <p class="text-muted small">Posted {{ include.item.date | date: '%B %d, %Y' }} <span class="category float-right">{{include.item.category}}</span></p>
            {% assign card-title = include.item.title %}
            {% if include.is-winner-card and include.item.winner-title %}{% assign card-title = include.item.winner-title %}{% endif %}
            <h6><strong>{{ card-title }}</strong></h6>
            <div class="competition-card--description small"><p>{{ include.item.competition-description }}</p></div>
            <div class="row justify-content-start align-items-center competition-card--footer">
                <div class="col-12 col-sm-5 col-lg-4 col-xl-3 competition-card--buttons text-center text-sm-left mr-sm-1 hide-if-expired">
                    {% assign button-cta = "Get Now" %}
                    {% if include.item.type == 'Competition' %}{% assign button-cta = "Enter Now" %}{% endif %}
                    {% if include.item.has_entry_page %}
                        <div class="show-if-entered">
                            <a href="{{item-url}}" class="h-100 btn btn-primary px-5">View</a>
                        </div>
                        <div class="hide-if-entered">
                            <a href="{{item-url}}" class="h-100 btn btn-primary px-5">{{button-cta}}</a>
                        </div>
                    {% else %}
                        <div class="show-if-entered">
                            <a data-powerlink="{{include.item.campaign-uuid}}" href="{{item-url}}" class="h-100 btn btn-primary px-5">View</a>
                        </div>
                        <div class="hide-if-entered">
                            <a data-powerlink="{{include.item.campaign-uuid}}" data-powerlink-auto="true" data-campaign-title="{{include.item.title | uri_escape}}" href="#" class="h-100 btn btn-primary px-5 disable-if-busy">{{button-cta}}</a>
                        </div>
                    {% endif %}
                </div>

                <div class="col competition-card--status text-center text-sm-right hide-if-expired">
                    {% if include.item.type == 'Competition' %}
                        <div class="show-if-entered">
                            <span class="h-100"><strong>Entry submitted</strong></span>
                        </div>
                        <div class="hide-if-entered">
                            <span class="h-100">Open until <strong class="avoid-wrap">{{ include.item.end-date | date: '%b %d, %Y' }}</strong></span>
                        </div>
                    {% else %}
                        <div>
                            <span class="h-100">Open until <strong class="avoid-wrap">{{ include.item.end-date | date: '%b %d, %Y' }}</strong></span>
                        </div>
                    {% endif %}
                </div>

                <div class="col competition-card--status text-center text-sm-right show-if-expired">
                    {% assign status-message = "Offer over" %}
                    {% if include.item.type == 'Competition' %}{% assign status-message = "Competition over" %}{% endif %}
                    <div><span class="competition-over">{{status-message}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
