{% include club_base_url.html %}
{% assign item-path-prefix = (include.item.collection | prepend: "_") %}
{% assign item-url = (include.item.relative_path | replace: ".markdown", "" | replace: item-path-prefix, club_base) %}
<div class="competition-card {% if include.item.is_promoted %}promoted{% endif %} growable grow-1" data-expiration="{{ include.item.end-date | date_to_xmlschema }}">
    <div class="competition-card--banner">
        {% include club_card_banner.html item=include.item item-url=include.item-url is-winner-card=false %}
    </div>
    <div class="competition-tile--content p-2 text-center grow-1">
        <p class="text-muted small">Posted {{ include.item.date | date: '%b %d, %Y' }}
            <span class="show-if-has-entry-count">You have entered <script>var count = entryCount('{{item.campaign-uuid}}'); document.write(count + ' time' + (count === 1 ? '': 's'));</script></span>
        </p>

        <p><strong>{{ include.item.title }}</strong></p>
    </div>
    <div class="competition-tile--footer p-2 pb-3 text-center">
        <div class="competition-tile--status mb-4">
            {% include club_card_cta.html item=include.item item-url=include.item-url %}
        </div>
    </div>
</div>
