<nav class="navbar navbar-expand-xl navbar-light bg-main d-none d-xl-flex" id="brand-navbar">
    <a class="navbar-brand" href="http://www.cyclingweekly.com">
        <img src="{{club_base}}/img/{{page.club-logo-nav}}" alt="{{page.club-name}}" class="navbar-logo" />
    </a>

    <div class="collapse navbar-collapse" id="cyclingweekly-nav-items">
        <ul class="navbar-nav mr-auto text-left text-xl-center">
            <li class="nav-item dropdown">
                <a id="cwdd1" href="http://www.cyclingweekly.com/news">News</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd1">
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/news"    >Latest</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.co.uk/racing-news"    >Racing</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/comment"    >Comment</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/news/product-news"    >Product News</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a id="cwdd2" href="http://www.cyclingweekly.com/racing-news"    >Racing</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd2">
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/tour-de-france"    >Tour de France</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/giro-ditalia"    >Giro d'Italia</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/vuelta-a-espana"    >Vuelta a España</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="http://www.cyclingweekly.com/videos"    >Videos</a>
            </li>

            <li class="nav-item dropdown">
                <a id="cwdd3" href="http://www.cyclingweekly.com/reviews/"    >Reviews</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd3">
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/reviews/bike-reviews"    >Bike Reviews</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/reviews/bike-components"    >Bike Components</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/reviews/bike-accessories"    >Bike Accessories</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/reviews/clothing"    >Clothing</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/group-tests"    >Buyer's Guides</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="http://www.cyclingweekly.com/news/product-news/deals-bargains"    >Deals</a>
            </li>

            <li class="nav-item dropdown">
                <a id="cwdd4" href="http://www.cyclingweekly.com/health-and-fitness"    >Fitness</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd4">
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/health-and-fitness"    >Latest Fitness</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/fitness/nutrition"    >Nutrition</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/fitness/training"    >Training</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.co.uk/fitness/training/cycling-training-plans-153049"    >Training Plans</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.com/fitness/bike-fit"    >Bike Fit</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a id="cwdd5" href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=http%3A%2F%2Fevents.cyclingweekly.co.uk%2F%3F_ga%3D2.96200220.1427269874.1519296401-1804366475.1519296401&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&"    >Sportives</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd5">
                    <li><a class="dropdown-item" href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=https%3A%2F%2Fwww.ukcyclingevents.co.uk%2F&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&"    >UK Cycling Events</a></li>
                    <li><a class="dropdown-item" href="http://www.cyclingweekly.co.uk/adventure-cross"    >Adventure Cross</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="http://www.cyclingweekly.com/cycling-weekly-classifieds">Bikes For Sale</a>
            </li>

            <li class="nav-item">
                <a href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=https%3A%2F%2Fsubscription.cyclingweekly.com%2Fsubscriptions%2Fcycling-weekly-subscriptions%3F_ga%3D2.3927728.1427269874.1519296401-1804366475.1519296401&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&">Subscribe</a>
            </li>

            <li class="nav-item dropdown">
                <a id="cwdd6" href="#">More</a>
                <ul class="dropdown-menu" aria-labelledby="cwdd6">
                    <li><a class="dropdown-item" href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=http%3A%2F%2Fcms.cyclingweekly.com%2Fnews%2Flatest-news%2Fbritains-best-bike-shop-2017-winner-results-revealed-352974%3F_ga%3D2.104448640.1427269874.1519296401-1804366475.1519296401&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&" target="_blank">#BBBS2017</a></li>
                    <li><a class="dropdown-item" href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=http%3A%2F%2Fwww.cyclingweekly.cc%2Fforum%2Findex&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&">Forum</a></li>
                    <li><a class="dropdown-item" href="http://dating.cyclingweekly.co.uk/s/">Dating</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="https://public.eagleapi.io/magpie/time-inc/cycling-weekly/AUTO/link?url=http%3A%2F%2Fevents.cyclingweekly.co.uk%2F%3F_ga%3D2.28435772.1427269874.1519296401-1804366475.1519296401&referrer=http%3A%2F%2Fwww.cyclingweekly.com%2Fgroup-tests%2Fbest-aluminium-bikes-367031&">Calendar</a>
            </li>

            <li class="nav-item">
                <a href="http://www.cyclingweekly.com/competitions">Win</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="nav-container fixed-top {{ page.nav-container-classes }}" id="club-nav-container">
