<div class="modal fade" id="{{include.id}}" tabindex="-1" role="dialog" aria-labelledby="terms-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="terms-modal-title">Terms and Conditions</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-2 px-md-5" id="{{include.id}}-content">
                <h4>'{{include.competition-name}}' Competition Rules</h4>
                <div class="competition-terms-rules small text-justify pt-4">
                    <h5>A. RULES</h5>
                    <ol class="pl-4">
                        <li>
                            The following rules ("Specific Rules") together with the general competition terms and
                            conditions (which can be found at http://win.buyexpressly.com/competition-terms.html) (the
                            "Competition Terms and Conditions") of Expressly (as defined in the Competition Terms and
                            Conditions apply to '{{include.competition-name}}' competition (the "Competition") which
                            will run from '{{include.start-date}}' to '{{include.end-date}}' on {{include.club-name}} website:
                            {{include.club-url}}.
                        </li>
                        <li>
                            Anyone who enters the Competition (an "Entrant") will be deemed to have read and accepted
                            the Specific Rules and the Competition Terms and Conditions and will be bound by them.
                        </li>
                    </ol>
                    <h5>B. Details of the Competition</h5>
                    <ol class="pl-4">
                        <li>
                            To enter the Competition an Entrant must go online to {{include.competition-link}} and register their
                            details. Online entry will open at {{include.start-time}} {{include.start-date}} and close at {{include.end-time}} on {{include.end-date}}. All times are London times.
                        </li>
                        <li>
                            Entrants must their details correctly for the chance to win.
                        </li>
                        <li>
                            One winner will be chosen at random from all eligible entries.
                        </li>
                        <li>
                            The winner will be contacted by Expressly.
                        </li>
                    </ol>
                    <h5>C. Eligibility</h5>
                    <ol class="pl-4">
                        <li>
                            Entrants must be UK & Channel Islands residents only.
                        </li>
                        <li>
                            Entrants must be 18 or over.
                        </li>
                        <li>
                            Entry is restricted to one entry per person; duplicate entries will be excluded from the
                            Competition.
                        </li>
                    </ol>
                    <h5>D. Prize</h5>
                    <ol class="pl-4">
                        {% if include.prize-description %}
                        <li>The prize is as described in the title: "{{include.competition-name}}", subject to the Restrictions in Clause D{% if include.special-conditions  %}(5){% else %}(4){% endif %}.</li>
                        {% else %}
                        <li>Winner wins: "{{include.prize-description}}", subject to the Restrictions in Clause D{% if include.special-conditions  %}(5){% else %}(4){% endif %}.</li>
                        {% endif %}
                        <li>Prize redemption will be discussed with the winner.</li>
                        <li>Expressly reserves the right to substitute the prize with another prize at its absolute
                            discretion.
                        </li>
                        {% if include.special-conditions  %}<li>{{include.special-conditions}}</li>{% endif %}
                        {% assign formatted_restrictions = 'N/A' %}
                        {% if include.prize-restrictions %}
                        {% assign formatted_restrictions = include.prize-restrictions | strip_newlines %}
                        {% assign formatted_restrictions = formatted_restrictions | replace: 'p>', 'li>' %}
                        {% assign formatted_restrictions = '<ol>' | append: formatted_restrictions | append: '</ol>' %}
                        {% endif %}
                        <li>Restrictions on Prize redemption ("Restrictions"):{{formatted_restrictions | default: 'N/A'}}</li>
                    </ol>
                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary px-3 px-sm-5" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary px-3 px-sm-5" data-pdf-source="{{include.id}}-content" data-pdf-title="{{include.competition-name}} - Competition Rules.pdf"><i class="fa fa-file-pdf-o"></i> Save PDF</button>
            </div>
        </div>
    </div>
</div>