<div class="form-group row {{include.rowClass}}">
    <label for="{{form_input_id_prefix}}{{include.id}}" class="col-sm-3 col-form-label">{{include.label}}</label>
    <div class="col-sm-9">
        <input name="{{include.id}}" value="{{include.value}}"
               id="{{form_input_id_prefix}}{{include.id}}" class="form-control form-control {{include.inputClass}}" type="{{include.type}}"
               placeholder="{{include.placeholder}}" autocomplete="{{include.autocomplete}}"
               {% if include.maxlength %}maxlength="{{include.maxlength}}"{% endif %}
               {% if include.pattern %}pattern="{{include.pattern}}"{% endif %}
               {% if include.required == 'true' %}required{% endif %} />
        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--{{include.id}}" class="fa fa-exclamation-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{include.error}}"></i>
        </div>
        {% if include.help %}<small class="form-text text-muted">{{include.help}}</small>{% endif %}
    </div>
</div>