<div class="modal fade" id="{{include.id}}" tabindex="-1" role="dialog" aria-labelledby="terms-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="terms-modal-title">Terms and Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>'{{include.competition-name}}' Competition Rules</h5>
                <div class="competition-terms-date">
                    <em>January 2018</em>
                </div>
                <div class="competition-terms-rules">
                    <h6>RULES</h6>
                    <ol>
                        <li>
                            The following rules (“Specific Rules”) together with the general competition terms and
                            conditions (which can be found at http://win.buyexpressly.com/competition-terms.html) (the
                            "Competition Terms and Conditions") of Expressly (as defined in the Competition Terms and
                            Conditions apply to '{{include.competition-name}}' competition (the "Competition") which
                            will run from '{{include.start-date}}' to '{{include.end-date}}' on NME AAA website:
                            https://aaa.nme.com.
                        </li>
                        <li>
                            Anyone who enters the Competition (an "Entrant") will be deemed to have read and accepted
                            the Specific Rules and the Competition Terms and Conditions and will be bound by them.
                        </li>
                    </ol>
                    <h6>Details of the Competition:</h6>
                    <ol start="3">
                        <li>
                            To enter the Competition an Entrant must go online to {{include.competition-link}} and register their
                            details. Online entry will open at {{include.start-time}} {{include.start-date}} and close at {{include.end-time}} on
                            {{include.end-date}}.
                        </li>
                        <li>
                            Entrants must their details correctly for the chance to win.
                        </li>
                        <li>
                            One winner will be chosen at random from all eligible entries.
                        </li>
                        <li>
                            The winner will be contacted by Expressly.
                        </li>
                    </ol>
                    <h6>Eligibility:</h6>
                    <ol start="7">
                        <li>
                            Entrants must be UK & Channel Islands residents only.
                        </li>
                        <li>
                            Entrants must be 18 or over.
                        </li>
                        <li>
                            Entry is restricted to one entry per person; duplicate entries will be excluded from the
                            Competition.
                        </li>
                    </ol>
                    <h6>Prize:</h6>
                    <ol start="10">
                        <li>One winner wins {{include.prize-description}}, subject to the Restrictions in Clause 11.</li>
                        <li>Restrictions on Prize redemption ("Restrictions"): {{include.prize-restrictions}}.</li>
                        <li>Prize redemption will be discussed with the winner.</li>
                        <li>Expressly reserves the right to substitute the prize with another prize at its absolute
                            discretion.
                        </li>
                        <li>{{include.special-conditions}}</li>
                    </ol>
                </div>


            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Save PDF</button>
            </div>
        </div>
    </div>
</div>