<nav class="navbar navbar-expand-xl navbar-light bg-main d-none d-xl-flex" id="brand-navbar">
    <a class="navbar-brand" href="http://www.nme.com">
        <img src="{{page.club_url}}/img/nme-aaa-logo.png" alt="NME AAA" class="navbar-logo" />
    </a>

    <div class="collapse navbar-collapse" id="nme-nav-items">
        <ul class="navbar-nav mr-auto text-left text-xl-center">
            <li class="nav-item dropdown">
                <a id="nmedd1" href="http://www.nme.com/news/music">Music</a>
                <div class="dropdown-menu two-column-menu" aria-labelledby="nmedd1">
                    <div class="row">
                        <div class="col">
                            <a class="dropdown-item" href="http://www.nme.com/news/music"    >Music News</a>
                            <a class="dropdown-item" href="http://www.nme.com/blogs/nme-blogs"    >Music Blogs</a>
                            <a class="dropdown-item" href="/artists"    >Artists</a>
                            <a class="dropdown-item" href="http://www.nme.com/reviews/album"    >Album Reviews</a>
                            <a class="dropdown-item" href="http://www.nme.com/new-album-releases"    >Album Release Dates</a>
                            <a class="dropdown-item" href="https://artists.nme.com/artists/"     target="_blank" >Emerging Artists</a>
                        </div>
                        <div class="col">
                            <a class="dropdown-item" href="http://www.nme.com/blogs/nme-radar"    >New Music</a>
                            <a class="dropdown-item" href="http://www.nme.com/photos"    >Photos</a>
                            <a class="dropdown-item" href="http://www.nme.com/features"    >Features</a>
                            <a class="dropdown-item" href="http://www.nme.com/festivals-home"    >Festivals</a>
                            <a class="dropdown-item" href="http://www.nme.com/list"    >Lists</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a id="nmedd2" href="http://www.nme.com/news/film"    >Film</a>
                <div class="dropdown-menu" aria-labelledby="nmedd2">
                    <a class="dropdown-item" href="http://www.nme.com/news/film"    >Film News</a>
                    <a class="dropdown-item" href="http://www.nme.com/reviews/movie"    >Film Reviews</a>
                    <a class="dropdown-item" href="http://www.nme.com/blogs/the-movies-blog"    >Film Blogs</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a id="nmedd3" href="/news/tv"    >TV</a>
                <div class="dropdown-menu" aria-labelledby="nmedd3">
                    <a class="dropdown-item" href="http://www.nme.com/news/tv"    >TV News</a>
                    <a class="dropdown-item" href="http://www.nme.com/blogs/tv-blogs"    >TV Blogs</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="http://www.nme.com/eats-and-beats"    >Food</a>
            </li>

            <li class="nav-item dropdown">
                <a id="nmedd4" href="/videos"    >Video</a>
                <div class="dropdown-menu" aria-labelledby="nmedd4">
                    <a class="dropdown-item" href="/videos/song-stories"    >Song Stories</a>
                    <a class="dropdown-item" href="/videos/basement-sessions"    >Basement Sessions</a>
                    <a class="dropdown-item" href="/videos/90-second-interview"    >90 Second Interviews</a>
                    <a class="dropdown-item" href="/videos/eats-beats"    >Eats &amp; Beats</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="http://www.nme.com/tickets"    >Tickets</a>
            </li>

            <li class="nav-item dropdown">
                <a id="nmedd5" href="http://www.nmemerch.com"    >Shop</a>
                <div class="dropdown-menu" aria-labelledby="nmedd5">
                    <a class="dropdown-item" href="http://www.nmemerch.com"    >Merch</a>
                    <a class="dropdown-item" href="http://nme.backstreetmerch.com/artist/nme/magazines"    >NME Special Issues</a>
                    <a class="dropdown-item" href="http://nme.backstreetmerch.com/search?search=uncut+ultimate+music+guide"    >Ultimate Music Guides</a>
                    <a class="dropdown-item" href="http://nme.backstreetmerch.com/artist/uncut-history-of-rock/magazines"    >History Of Rock</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="http://www.nme.com/win"    >Win</a>
            </li>

            <li class="nav-item">
                <a href="http://www.nme.com/lifehacks"    >Lifehacks</a>
            </li>

            <li class="nav-item dropdown">
                <a id="nmedd6" href="#">Follow</a>
                <div class="dropdown-menu" aria-labelledby="nmedd6">
                    <a class="dropdown-item" href="https://www.facebook.com/nmemagazine" target="_blank">Facebook</a>
                    <a class="dropdown-item" href="https://twitter.com/nme" target="_blank">Twitter</a>
                    <a class="dropdown-item" href="https://plus.google.com/+NME" target="_blank">Google+</a>
                    <a class="dropdown-item" href="https://www.instagram.com/nmemagazine/" target="_blank">Instagram</a>
                    <a class="dropdown-item" href="https://uk.pinterest.com/nmemagazine/" target="_blank">Pinterest</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="nav-container fixed-top" id="club-nav-container">
