<nav class="navbar navbar-expand-xl navbar-light bg-main" id="brand-navbar">
    <a class="navbar-brand" href="{{page.club_url}}">
        <img src="{{page.club_url}}/img/nme-logo.png" alt="NME Lounge" class="navbar-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nme-nav-items" aria-controls="nme-nav-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nme-nav-items">
        <ul class="navbar-nav mr-auto text-left text-md-center">
            <li class="nav-item"><a href="#">Menu Item 1 </a></li>
            <li class="nav-item"><a href="#">Menu Item 2 </a></li>
            <li class="nav-item"><a href="#">Menu Item 3 </a></li>
        </ul>
        <div class="divider"></div>
    </div>
</nav>
