---
---

$image-hero: url('../img/header-img.jpg');
$image-first: url('../img/first-img.png');
$image-second: url('../img/second-img.png');
$brand-colour: #00AFDB;

@import "common";

.hero {
  h1 {
    &:after {
      content: url('../img/metrofone_logo.png');
      display: block;
    }
  }

  &:after {
    content: 'Shot on iPhone 7';
    font-size: 1.8em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    text-shadow: 0px 1px 5px #222222;
    opacity: 0.8;
  }
}
