<!--TI MEDIA DFP SCRIPT-->

<script async='async' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
</script>

<script>
    googletag.cmd.push(function() {
        <!-- googletag.defineSlot('/18711560/nme/aaa', [[728, 90], [970, 250]], 'billboardSlot').addService(googletag.pubads()); -->
        googletag.defineSlot('/18711560/nme/aaa', [[300, 250]], 'MPUSlot').addService(googletag.pubads());
        <!-- googletag.defineOutOfPageSlot('/18711560/nme/aaa', 'oopSlot').addService(googletag.pubads()); -->
        googletag.pubads().enableSingleRequest();
        googletag.pubads().setRequestNonPersonalizedAds(personalAds ? 0 : 1);
        googletag.enableServices();
    });
</script>


<!--DFP SCRIPT-->

<script async='async' src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
</script>
<script>
    googletag.cmd.push(function() {
        var top_leaderboard_mapping = googletag.sizeMapping().
        addSize([980, 400], [970, 90],[728, 90]).
        addSize([730, 200], [728, 90]).
        addSize([0, 0], [320, 50]).
        build();
        var bottom_leaderboard_mapping = googletag.sizeMapping().
        addSize([980, 400], [970, 250],[970, 90],[728, 90]).
        addSize([730, 200], [728, 90]).
        addSize([0, 0], [320, 50]).
        build();
        var listpage_mobile_mapping = googletag.sizeMapping().
        addSize([980, 400], [970, 250],[970, 90],[728, 90]).
        addSize([730, 200], [728, 90]).
        addSize([0, 0], [300, 250]).
        build();
        googletag.defineSlot('/273427535/nmeaaa_allpages_leaderboard', [320, 50], 'base_topleaderboard').defineSizeMapping(top_leaderboard_mapping).addService(googletag.pubads());
        googletag.defineSlot('/273427535/nmeaaa_allpages_bottomleaderboard', [320, 50], 'base_bottomleaderboard').defineSizeMapping(bottom_leaderboard_mapping).addService(googletag.pubads());
        googletag.defineSlot('/273427535/nmeaaa_processing_mpu_left', [300, 250], 'processing_mpu_left').addService(googletag.pubads());
        <!-- googletag.defineSlot('/273427535/nmeaaa_processing_mpu_right', [300, 250], 'processing_mpu_right').addService(googletag.pubads()); -->
        googletag.defineSlot('/273427535/nmeaaa_thankyou_mpu_topleft', [300, 250], 'thankyou_mpu_topleft').addService(googletag.pubads());
        googletag.defineSlot('/273427535/nmeaaa_thankyou_mpu_topright', [300, 250], 'thankyou_mpu_topright').addService(googletag.pubads());
        <!-- googletag.defineSlot('/273427535/nmeaaa_thankyou_mpu_bottomleft', [300, 250], 'thankyou_mpu_bottomleft').addService(googletag.pubads()); ->>
        googletag.defineSlot('/273427535/nmeaaa_thankyou_mpu_bottomright', [300, 250], 'thankyou_mpu_bottomright').addService(googletag.pubads());
        googletag.defineSlot('/273427535/nmeaaa_listpage_mobile_mpu', [300, 250], 'listpage_mobile_mpu').defineSizeMapping(listpage_mobile_mapping).addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().setRequestNonPersonalizedAds(personalAds ? 0 : 1);
		googletag.pubads().enableLazyLoad({
			fetchMarginPercent: 1000,
			renderMarginPercent: 100,
			mobileScaling: 2.0
		});
        googletag.enableServices();
    });
</script>

