@import "club";

body.competition .hero {
	padding-top: 0;
	border-top: solid transparent 0;
}

.hero .hero-block-wrapper {
	margin-top: 0;
}

body.competition .hero .hero-block .advertiser-logo {
	max-width: none;
}

body.competition .hero .hero-block .advertiser-logo img {
	height: 75px;
	width: auto;
}
