---
---

//Local changes
body.competition {
  .hero {
    h1 {
      &:after {
        content: url('../img/bloom-logo.png');
        display: block;
        padding: 10px;
        background: white;
      }
    }

    .logo-left img {
      padding: 10px;
      background: white;
    }
  }
}