---
---

$colour_primary: #66bade;
$colour_secondary: #ffffff;

@import "club";


.competition-card {

  border-bottom: 1px solid $colour_bg_gray;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  &:last-child {
    border-bottom-width: 0;
  }

  .competition-card--banner {
    img.advertiser-banner {
      width: 100%;
    }

    img.advertiser-logo {
      position: absolute;
      left: 0;
      top: 10%;
      width: 35%;
      background-color: white;
      margin-left: 15px;
      padding: 5px;
    }
  }

  .competition-card--footer {
    > div {
      margin-bottom: 1rem;
    }
    > div:last-child {
      margin-bottom: 0;
    }
  }

  .competition-card--description {
    p { display: none; }
    p:first-child { display: block; }
    margin-bottom: 60px;
  }

  .competition-card--status {
    span {
      border: 1px dashed $colour_primary;
      border-radius: 3px;
      display: inline-block;
      padding: .375rem .75rem;
    }
  }
}

@media (min-width: 576px) {
  .competition-card--footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    > div {
      margin-bottom: 0 !important;
    }
  }
}