<div class="modal" tabindex="-1" role="dialog" id="about-modal" aria-labelledby="about-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="about-modal-title">Welcome to ExpresslyClub!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The coolest site with competitions and special offers you were waiting for!
                </p>
                <p>
                    We’re so excited to have you join us! Once you are an Expressly insider, you’ll be the first to discover everything about new giveaways, promos, and other Expressly news. We are growing more every day, powering this and other websites such as NME AAA. Exciting times.
                </p>
                <p>
                    We wouldn’t do anything without you, please get in touch with us!
                </p>
            </div>
            <div class="modal-footer">
                <span class="footer-logo">
                    <img src="{{club_base}}/img/{{page.club-logo-modal}}" alt="{{page.club-name}}" class="modal-logo" />
                </span>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>