<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-epm-artist" class="col-sm-3 col-form-label">Chosen Artist</label>
    <div class="col-sm-9">
        <input type="url" class="form-control" name="meta-epm-artist" id="{{form_input_id_prefix}}meta-epm-artist"
                placeholder="Provide artist URL" required />

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-epm-artist" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please provide a valid URL"></i>
        </div>
    </div>
</div>
