ga('create', 'UA-67691-1',  {'cookieDomain': '{{page.ga-domain}}', 'name': 'nme1'});
ga('nme1.set', 'anonymizeIp', true);
ga('nme1.send', 'pageview', {
    'dimension6':  'competitions',
    'dimension8':  'responsive',
    'dimension15':  'nme'
});

ga('create', 'UA-11428852-1',  {'cookieDomain': '{{page.ga-domain}}', 'name': 'nme2'});
ga('nme2.set', 'anonymizeIp', true);
ga('nme2.send', 'pageview', {
    'dimension6':  'competitions',
    'dimension8':  'responsive',
    'dimension15':  'nme'
});
