<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-lh-trade" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-lh-trade" id="{{form_input_id_prefix}}meta-lh-trade"
                placeholder="Choose a trade..." required>
            <option value="" disabled="disabled" selected="selected">Choose a trade…</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-lh-trade" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please select a trade"></i>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-lh-item" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-lh-item" id="{{form_input_id_prefix}}meta-lh-item"
                placeholder="Need help with..." required>
            <option value="" disabled="disabled" selected="selected">Need help with…</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-lh-item" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right"
               title="Please select what you need help with"></i>
        </div>
    </div>
</div>
<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-lh-issue" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-lh-issue" id="{{form_input_id_prefix}}meta-lh-issue"
                placeholder="That's..." required>
            <option value="" disabled="disabled" selected="selected">That's…</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-lh-issue" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right"
               title="Please select a specific issue"></i>
        </div>
    </div>
</div>
<div class="hidden-field">
    <input type="hidden" name="meta-lh-trade-text" id="{{form_input_id_prefix}}meta-lh-trade-text" value="To be discussed" />
    <input type="hidden" name="meta-lh-item-text" id="{{form_input_id_prefix}}meta-lh-item-text" value="To be discussed" />
    <input type="hidden" name="meta-lh-issue-text" id="{{form_input_id_prefix}}meta-lh-issue-text" value="To be discussed" />
</div>

<script type="text/javascript" src="{{club_base}}/scripts/populate_localheroes_fields.js"></script>
