<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-somp-cinema" class="col-sm-3 col-form-label">Choose Cinema</label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-somp-cinema" id="{{form_input_id_prefix}}meta-somp-cinema"
                placeholder="Choose cinema" required>
            <option value="" disabled="disabled" selected="selected">Choose cinema</option>
            <option value="10040">Vue Bolton</option>
            <option value="10018">Vue Bristol Cribbs</option>
            <option value="10034">Vue Cheshire Oaks</option>
            <option value="10038">Vue Edinburgh Omni</option>
            <option value="10088">Vue Gateshead</option>
            <option value="10003">Vue Hamilton</option>
            <option value="10032">Vue Islington</option>
            <option value="10012">Vue Leeds Light</option>
            <option value="10091">Vue Manchester Printworks</option>
            <option value="10027">Vue Plymouth</option>
	    <option value="10021">Vue Portsmouth</option>
	    <option value="10030">Vue West End</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-somp-cinema" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please select cinema"></i>
        </div>
    </div>
</div>
