<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-somp-cinema" class="col-sm-3 col-form-label">Choose Cinema</label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-somp-cinema" id="{{form_input_id_prefix}}meta-somp-cinema"
                placeholder="Choose cinema" required>
            <option value="" disabled="disabled" selected="selected">Choose cinema</option>
            <option value="cinema-1">Cinema 1</option>
            <option value="cinema-2">Cinema 2</option>
            <option value="cinema-3">Cinema 3</option>
            <option value="cinema-4">Cinema 4</option>
            <option value="cinema-5">Cinema 5</option>
            <option value="cinema-6">Cinema 6</option>
            <option value="cinema-7">Cinema 7</option>
            <option value="cinema-8">Cinema 8</option>
            <option value="cinema-9">Cinema 9</option>
            <option value="cinema-10">Cinema 10</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-somp-cinema" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please select cinema"></i>
        </div>
    </div>
</div>
