<div class="form-group row">
    <label for="{{form_input_id_prefix}}meta-somp-cinema" class="col-sm-3 col-form-label">Choose Cinema</label>
    <div class="col-sm-9">
        <select class="form-control" name="meta-somp-cinema" id="{{form_input_id_prefix}}meta-somp-cinema"
                placeholder="Choose cinema" required>
            <option value="" disabled="disabled" selected="selected">Choose cinema</option>
            <option value="cinema-1">Vue Bolton</option>
            <option value="cinema-2">Vue Bristol Cribbs</option>
            <option value="cinema-3">Vue Cheshire Oaks</option>
            <option value="cinema-4">Vue Edinburgh Omni</option>
            <option value="cinema-5">Vue Gateshead</option>
            <option value="cinema-6">Vue Hamilton</option>
            <option value="cinema-7">Vue Islington</option>
            <option value="cinema-8">Vue Leeds Light</option>
            <option value="cinema-9">Vue Manchester Printworks</option>
            <option value="cinema-10">Vue Plymouth</option>
			<option value="cinema-11">Vue Portsmouth</option>
			<option value="cinema-12">Vue West End</option>
        </select>

        <div class="invalid-feedback">
            <i id="{{form_input_id_prefix}}invalid-feedback--meta-somp-cinema" class="fa fa-exclamation-circle"
               aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Please select cinema"></i>
        </div>
    </div>
</div>
