<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.merchant}} Advertiser Testing</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/testing.css">
</head>

<body>

<header>
    <h2>
        {{page.merchant}} Testing
    </h2>
</header>

<section class="overview">
    <h3>Overview</h3>
    <p>Below is a banner with <b>an active and working Expresslylink</b> for a campaign between our demo data and {{page.merchant}}</p>
    <p>Expresslylinks are unique per campaign and e-mail address</p>
    <p>Each load of this page generates a unique e-mail address and hence a new Expresslylink hence simulating a new unique
        user</p>
    <p></p>
</section>

<section>
    <h3>Live Demo</h3>
    <p>&nbsp;</p>

    <div style="text-align:center">
        <a target="_blank" class="xly-creative" data-campaigns="{{page.campaign-uuid}}">
            <img width="300" height="600" border="0"/>
        </a>
    </div>
    <table class="xlyinfo" width="100%">
        <tr>
            <th width="30%">Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td width="30%">cname</td>
            <td width="70%" id="xly-cname"></td>
        </tr>
        <tr>
            <td width="30%">cemail</td>
            <td width="70%" id="xly-cemail"></td>
        </tr>
        <tr>
            <td width="30%">cphone</td>
            <td width="70%" id="xly-cphone"></td>
        </tr>
        <tr>
            <td width="30%">cdob</td>
            <td width="70%" id="xly-cdob"></td>
        </tr>
        <tr>
            <td width="30%">cgender</td>
            <td width="70%" id="xly-cgender"></td>
        </tr>
        <tr>
            <td width="30%">caddress1</td>
            <td width="70%" id="xly-caddress1"></td>
        </tr>
        <tr>
            <td width="30%">caddress2</td>
            <td width="70%" id="xly-caddress2"></td>
        </tr>
        <tr>
            <td width="30%">ccity</td>
            <td width="70%" id="xly-ccity"></td>
        </tr>
        <tr>
            <td width="30%">czip</td>
            <td width="70%" id="xly-czip"></td>
        </tr>
        <tr>
            <td width="30%">cprovince</td>
            <td width="70%" id="xly-cprovince"></td>
        </tr>
        <tr>
            <td width="30%">ccountry</td>
            <td width="70%" id="xly-ccountry"></td>
        </tr>
        <tr>
            <td width="30%">merchant</td>
            <td width="70%" id="xly-merchant"></td>
        </tr>
    </table>
</section>

<script>
    function createXlyTag(h, p, c) {
        var tag = document.createElement('meta');
        var ap = document.createAttribute('property');
        ap.value = 'xly:' + p;
        tag.setAttributeNode(ap);
        var ac = document.createAttribute('content');
        ac.value = c;
        tag.setAttributeNode(ac);
        h.appendChild(tag);
        var display = document.getElementById('xly-' + p);
        display.innerText = c;
    }

    var h = document.getElementsByTagName('head')[0];
    createXlyTag(h, 'merchant', '748f710d-3801-41d2-9235-3c42bf7c6b80');
    createXlyTag(h, 'cemail', 'john.' + new Date().getTime() + '.doe@example.com');
    createXlyTag(h, 'cname', 'John Doe');
    createXlyTag(h, 'caddress1', '46 Berwick Street');
    createXlyTag(h, 'caddress2', '2nd Floor');
    createXlyTag(h, 'ccity', 'London');
    createXlyTag(h, 'czip', 'W1F 8SG');
    createXlyTag(h, 'cprovince', 'Greater London');
    createXlyTag(h, 'ccountry', 'GBR');
    createXlyTag(h, 'cphone', '02070000000');
    createXlyTag(h, 'cgender', 'M');
    createXlyTag(h, 'cdob', '1987-08-07');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://assets01.buyexpressly.com/adserving/adserver.min.js"></script>

</body>

</html>
