---
layout: club-layout
title: Thank you for entering
---
{% include club_base_url.html %}

<main role="main" class="container">
    <div class="row mb-4">
        {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-topleft %}
            <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-1" id="ad-mpu-top-left">
                {% include {{page.ad-thankyou-mpu-topleft}} %}
            </div>
        {% endif %}

        <div class="col-12 col-sm text-center">
            <h2 class="my-4">{{page.title}}</h2>
            <p class="mb-5">
                We will let you know if you win
            </p>
            <p class="mb-2">
                <img src="https://assets01.buyexpressly.com/club/img/trophy.png" alt="" class="mx-auto mb-4 d-block" />
                Discover other exciting opportunities below!
            </p>
        </div>

        {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-topright %}
            <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-2" id="ad-mpu-top-right">
                {% include {{page.ad-thankyou-mpu-topright}} %}
            </div>
        {% endif %}
    </div>

    <div class="row competition-tile-container">
        {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-bottomleft %}
            <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-3" id="ad-mpu-bottom-left">
                {% include {{page.ad-thankyou-mpu-bottomleft}} %}
            </div>
        {% endif %}

        {% assign campaigns = site[page.campaigns] | where_exp:"c","c.type != 'Preview'" %}
        {% assign all_items = campaigns | where:"has_entry_page",true | sort: 'date'  %}
        {% assign past_epoch_seconds = site.time | date: '%s' | minus: 0  %}

        {% assign ad_count = 0 %}
        {% assign last_ad_displayed = false %}

        {% assign items = all_items | where:"is_promoted",true | sort: 'date'  %}
        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
                {% include club_tile.html item=item ad_count=ad_count %}
                {% assign ad_count = ad_count | plus: 1 %}
            {% endif %}

            {%if ad_count == 1 and last_ad_displayed != true %}
                {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-bottomright %}
                    <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4" data-count="{{ ad_count }}" id="ad-mpu-bottom-right">
                        {% include {{page.ad-thankyou-mpu-bottomright}} %}
                    </div>
                    {% assign last_ad_displayed = true %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% assign items = all_items | where:"is_promoted",false | sort: 'date'  %}
        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
                {% include club_tile.html item=item ad_count=ad_count %}
                {% assign ad_count = ad_count | plus: 1 %}
            {% endif %}

            {%if ad_count == 1 and last_ad_displayed != true %}
                {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-bottomright %}
                    <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4" data-count="{{ ad_count }}" id="ad-mpu-bottom-right">
                        {% include {{page.ad-thankyou-mpu-bottomright}} %}
                    </div>
                    {% assign last_ad_displayed = true %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {%if ad_count == 0 and last_ad_displayed != true %}
            {% if page.ad-base-gpt-tag and page.ad-thankyou-mpu-bottomright %}
                <div class="col-md-4 col-sm-6 mb-4 growable blank-placeholder">
                </div>

                <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4" id="ad-mpu-bottom-right">
                    {% include {{page.ad-thankyou-mpu-bottomright}} %}
                </div>
                {% assign last_ad_displayed = true %}
            {% endif %}
        {% endif %}

    </div>

    {% if page.ad_include %}
        {% assign ad_include_path = page.ad_include | replace: 'list-top-ad', 'list-auto-ad' %}
        {% include {{ ad_include_path}} %}
    {% endif %}
</main>
{% if page.ad-thank-you-oop %}
    {% include {{page.ad-thank-you-oop}} %}
{% endif %}
