---
layout: club-ads-ti-layout-conv
title: Thank you for entering
---
{% include club_base_url.html %}

<main role="main" class="container">

	<div class="row mb-4">
        {% if page.ad-thank-you-1 %}
        <div class="col-12 col-lg-4 cmb-4 growable ad-container ad-slot-1" id="ad-slot-1">
            {% include {{page.ad-thank-you-1}} %}
        </div>
        {% endif %}

        <div class="col-12 col-lg-4 mb-4 growable text-center">
            <h2 class="my-4">{{page.title}}</h2>
            <p class="mb-5">
                We will let you know if you win
            </p>
            <p class="mb-2">
                <img src="https://assets01.buyexpressly.com/club/img/trophy.png" alt="" class="mx-auto mb-4 d-block" />
                Discover other exciting opportunities below!
            </p>
        </div>

        {% if page.ad-thank-you-1 %}
        <div class="col-12 col-lg-4 mb-4 growable ad-container ad-slot-2" id="ad-slot-2">
            {% include {{page.ad-thank-you-1}} %}
        </div>
        {% endif %}
    </div>

    <div class="row competition-tile-container">

        {% if page.ad-thank-you-1 %}
        <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-3" id="ad-slot-3">
            {% include {{page.ad-thank-you-1}} %}
        </div>
        {% endif %}

        {% assign campaigns = site[page.campaigns] | where_exp:"c","c.type != 'Preview'" %}
        {% assign all_items = campaigns | where:"has_entry_page",true | sort: 'date'  %}
        {% assign past_epoch_seconds = site.time | date: '%s' | minus: 0  %}

        {% assign items = all_items | where:"is_promoted",true | sort: 'date'  %}

        {% assign ad_count = 0 %}

        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
            <div class="col-md-4 col-sm-6 mb-4 hide-if-entered hide-if-expired show-if-reenter-now-flex growable" id="eid-{{item.campaign-uuid}}" data-competition-toggle="{{item.campaign-uuid}}" data-expiration="{{ item.end-date | date_to_xmlschema }}">
                <script>entrySet('eid-{{item.campaign-uuid}}', '{{item.campaign-uuid}}');</script>
                {% include club_tile.html item=item %}
            </div>
            {% assign ad_count = ad_count | plus: 1 %}
            {% endif %}

            {%if ad_count == 1 %}

                {% if page.ad-thank-you-1 %}
                <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4" id="ad-slot-4">
                    {% include {{page.ad-thank-you-1}} %}
                </div>
                {% endif %}

            {% endif %}

        {% endfor %}

        {% assign items = all_items | where:"is_promoted",false | sort: 'date'  %}
        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
            <div class="col-md-4 col-sm-6 mb-4 hide-if-entered hide-if-expired show-if-reenter-now-flex growable" id="eid-{{item.campaign-uuid}}" data-competition-toggle="{{item.campaign-uuid}}" data-expiration="{{ item.end-date | date_to_xmlschema }}">
                <script>entrySet('eid-{{item.campaign-uuid}}', '{{item.campaign-uuid}}');</script>
                {% include club_tile.html item=item %}
            </div>
            {% assign ad_count = ad_count | plus: 1 %}
            {% endif %}

            {%if ad_count == 1 %}

                {% if page.ad-thank-you-1 %}
                    <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4">
                        {% include {{page.ad-thank-you-1}} %}
                    </div>
                {% endif %}

            {% endif %}
        {% endfor %}

        {%if ad_count == 0 %}

        {% if page.ad-thank-you-1 %}
        <div class="col-md-4 col-sm-6 mb-4 growable blank-placeholder">
        </div>

        <div class="col-md-4 col-sm-6 mb-4 growable ad-container ad-slot-4">
            {% include {{page.ad-thank-you-1}} %}
        </div>
        {% endif %}

        {% endif %}

    </div>
</main>
