---
layout: club-layout
body-class: "competition"
---

<section class="hero" style="background-image: url({{page.club_url}}/img/{{page.bg-image-hero}})">

    <div class="container">
        <header class="row">

            <div class="logo-left col-sm-6 text-center text-sm-left mt-3">
                <a href="{{page.logo-left-href}}">
                    <img src="{{page.club_url}}/img/{{page.logo-left-image}}" alt="{{page.logo-left-title}}">
                </a>
            </div>
            {% if page.is-demo != true and page.logo-right-image %}
            <div class="logo-right col-sm-6 text-center text-sm-right mt-3">
                <a href="{{page.logo-right-href}}">
                    <img src="{{page.club_url}}/img/{{page.logo-right-image}}" alt="{{page.logo-right-title}}">
                </a>
            </div>
            {% endif %}
        </header>

        <div class="hero-block-wrapper">
            <div class="hero-block-inner">
                <div class="hero-block hero-block-header text-center px-3 my-3">
                    <h1>{{page.hero-header}}</h1>
                    <div class="advertiser-logo"><img src="{{page.club_url}}/img/{{page.logo-left-image}}" /></div>
                </div>
                <div class="hero-block hero-block-sub text-center mb-3 px-3">
                    {% if page.hero-subheader and page.hero-subheader != '' %}
                    <h3 class="pb-2">{{page.hero-subheader}}</h3>
                    {% endif %}
                    <a href="#contact-anchor" class="btn btn-lg btn-primary px-5 d-none d-sm-inline">Enter now</a>
                    <a href="#contact-anchor" class="btn btn-sm btn-primary px-3 d-sm-none">Enter now</a>
                </div>
            </div>
        </div>

        <div class="down-arrow-spacer"></div>
        <div class="down-arrow mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g class="nc-icon-wrapper" fill="#ffffff">
                    <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 24l-8-8h16l-8 8z"></path>
                </g>
            </svg>
        </div>
    </div>
</section>

<div class="container-fluid">
    <section class="our-work row row-he align-items-center">
        <div class="col-md-6 content p-4 text-justify">{{page.section1-content}}</div>
        <div class="col-md-6 px-0 bg-img" id="first-img"style="background-image: url({{page.club_url}}/img/{{page.bg-image-first}})"></div>
    </section>

    <section class="quality row row-he align-items-center">
        <div class="col-md-6 content p-4 text-justify">{{page.section2-content}}</div>
        <div class="col-md-6 order-md-first px-0 bg-img" id="second-img" style="background-image: url({{page.club_url}}/img/{{page.bg-image-second}})"></div>
    </section>

</div>

<hr class="my-5" />

<div id="contact-anchor" class="anchor"></div>

<div class="container" id="eid"
     data-competition-toggle="{{page.campaign-uuid}}"
     data-expiration="{{page.end-date | date_to_xmlschema}}">
    <script>entrySet('eid', '{{page.campaign-uuid}}');</script>
    <section class="contact row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="title text-center">{{page.entry-title}}</h2>
            {% assign end_date_pretty = page.end-date | date: '%B %d, %Y' %}
            <p>{{page.entry-content | replace: '!end-date!', end_date_pretty }}</p>

            <div class="hide-if-entered">
                {% if page.disable-form == false %}
                    <div class="hide-if-expired">
                        <form id="form--competition" method="post" novalidate>
                            <input type="hidden" id="campaign" name="campaign" value="{{page.campaign-uuid}}"/>
                            {% assign form_input_id_prefix = 'form--competition--' %}
                            {% include form_input_text.html id="forename" label="First Name" type="text" required="true" placeholder="Enter your forename" autocomplete="given-name" error="Please enter your first name" maxlength="32" %}
                            {% include form_input_text.html id="surname" label="Last Name" type="text" required="true" placeholder="Enter your surname" autocomplete="family-name" error="Please enter your last name" maxlength="32" %}
                            {% include form_input_gender.html id="gender" label="Gender" type="text" required="true" autocomplete="gender" error="Please select a gender" %}
                            {% include form_input_dob.html id="dob" label="DOB" type="text" required="true" placeholder="DD/MM/YYYY" autocomplete="dob" error="Please enter your date of birth as dd/mm/yyyy. You must be over 18 to register" %}
                            {% include form_input_text.html id="email" label="Email" type="email" required="true" placeholder="Enter your email" autocomplete="username email" error="Please enter your email" maxlength="128" inputClass="disable-if-logged-in" %}
                            {% include form_input_text.html id="phone" label="Phone" type="text" required="true" placeholder="Enter your phone number" autocomplete="tel" maxlength="24" pattern="(0|\+44|0044)\s*[1235789]\s*([0-9]\s*){9}" error="Please enter a valid UK telephone number" %}
                            {% include form_input_address_autocomplete.html label="Address" error="Please enter your full address" %}
                            {% include form_input_checkbox.html id="optin" label=page.terms-confirmation required="true" %}
                            {% assign form_input_id_prefix = '' %}
                        </form>
                        <div class="text-center pt-3">
                            <button class="btn btn-primary disable-if-busy" id="action--enter">
                                <span class="hide-when-busy">{% if page.is-demo == true %}[DEMO] {% endif %}Enter Competition</span>
                                <span class="show-when-busy">Submitting Entry <img
                                        src="https://assets01.buyexpressly.com/microsite/spinner.gif" height="18px"></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <h2 class="text-center {% if page.disable-form == false %}show-if-expired{% endif %}">Competition is now over</h2>
            </div>
            <div class="show-if-entered">
                <p>
                    You've already submitted an entry to this competition. Go to
                    <a data-powerlink="{{page.campaign-uuid}}" href="{{page.logo-left-href}}">{{page.logo-left-title}}</a>.
                </p>
                <div class="competition-banner mt-4">
                    <a class="d-block" data-powerlink="{{page.campaign-uuid}}" href="{{page.logo-left-href}}">
                        <div class="advertiser-banner rounded" style="background-image: url({{page.club_url}}/img/{{page.banner-img}})"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3"></div>
    </section>
</div>