---
layout: club-layout
title: Thank you for entering
---
{% include club_base_url.html %}

<main role="main" class="container">
<!--TI MEDIA DFP SCRIPT-->

<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
</script>

<script>
    googletag.cmd.push(function() {
        googletag.defineSlot('/18711560/nme/aaa', [[728, 90], [970, 250]], 'billboardSlot').addService(googletag.pubads());
        <!-- googletag.defineSlot('/18711560/nme/aaa', [[300, 1050], [300, 250], [300, 600]], 'MPUSlot').addService(googletag.pubads()); -->
		googletag.defineSlot('/18711560/nme/aaa', [[300, 250]], 'MPUSlot').addService(googletag.pubads());
		googletag.defineOutOfPageSlot('/18711560/nme/aaa', 'oopSlot').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
		googletag.pubads().setRequestNonPersonalizedAds(1);
        googletag.enableServices();
    });
</script>

<!--END OF TI MEDIA DFP SCRIPT-->

    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2 class="my-4">{{page.title}}</h2>
            <p class="mb-5">
                We will let you know if you win
            </p>
            <p class="mb-2">
                <img src="https://assets01.buyexpressly.com/club/img/trophy.png" alt="" class="mx-auto mb-4 d-block" />
                Discover other exciting opportunities below!
            </p>
        </div>
    </div>

    <div class="row competition-tile-container">
	<!--MPU SLOT-->
<div id='MPUSlot' class="col-md-4 col-sm-6 mb-4 growable">
    <script>
        googletag.cmd.push(function() { googletag.display('MPUSlot'); });
    </script>
</div>
	<!--END OF MPU SLOT-->
        {% assign campaigns = site[page.campaigns] | where_exp:"c","c.type != 'Preview'" %}
        {% assign all_items = campaigns | where:"has_entry_page",true | sort: 'date'  %}
        {% assign past_epoch_seconds = site.time | date: '%s' | minus: 0  %}

        {% assign items = all_items | where:"is_promoted",true | sort: 'date'  %}
        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
            <div class="col-md-4 col-sm-6 mb-4 hide-if-entered hide-if-expired show-if-reenter-now-flex growable" id="eid-{{item.campaign-uuid}}" data-competition-toggle="{{item.campaign-uuid}}" data-expiration="{{ item.end-date | date_to_xmlschema }}">
                <script>entrySet('eid-{{item.campaign-uuid}}', '{{item.campaign-uuid}}');</script>
                {% include club_tile.html item=item %}
            </div>
            {% endif %}
        {% endfor %}
			
        {% assign items = all_items | where:"is_promoted",false | sort: 'date'  %}
        {% for item in items reversed  %}
            {% assign end_date_seconds = item.end-date | date: '%s' | minus: 0 %}
            {% if end_date_seconds > past_epoch_seconds %}
            <div class="col-md-4 col-sm-6 mb-4 hide-if-entered hide-if-expired show-if-reenter-now-flex growable" id="eid-{{item.campaign-uuid}}" data-competition-toggle="{{item.campaign-uuid}}" data-expiration="{{ item.end-date | date_to_xmlschema }}">
                <script>entrySet('eid-{{item.campaign-uuid}}', '{{item.campaign-uuid}}');</script>
                {% include club_tile.html item=item %}
            </div>
            {% endif %}
        {% endfor %}

    </div>
	<script type="text/javascript">setTimeout('window.location.href=window.location.href;', 15000);</script>
</main>
