---
layout: club-ads-ti-layout-conv
title: Processing your entry
---
{% include club_base_url.html %}

<main role="main" class="container">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2 class="my-4">{{page.title}}</h2>
            <p class="mb-5">
                This is required to confirm your entry.
            </p>
            <p class="mb-2">
                <img src="https://assets01.buyexpressly.com/club/img/trophy-gray.png" alt=""
                     class="mx-auto mb-4 d-block"/>
                <br />
                It will take 5 seconds
            </p>
        </div>

    </div>
    {% if page.ad-processing-mpu %}
    <div class="row mb-4">
        <div class="col-12 text-center">
            {% include {{page.ad-processing-mpu}} %}
        </div>
    </div>
    {% endif %}
    {% if page.ad-processing-conv %}
    <div class="row mb-4">
        <div class="col-12 text-center">
            {% include {{page.ad-processing-conv}} %}
        </div>
    </div>
    {% endif %}
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYD623L', 'placement:demo');
            }
        })();

        function Redirect() {
            window.location = "{{club_base}}/thank-you-page";
        }

        setTimeout('Redirect()', 5000);
    </script>
</main>
