---
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{page.club-name}} Feed</title>
    <link href="{{page.club_url}}/feed.xml" rel="self" />
    <link href="{{page.club_url}}/" />
    <id>{{page.club_url}}/</id>
    <updated>{{ "now" | date_to_xmlschema }}</updated>
    {% assign campaigns = site[page.campaigns] | where_exp:"c","c.type != 'Preview'" | where_exp:"c","c.has_entry_page == true" | sort: 'date' %}
    {% for item in campaigns reversed  %}
        {% assign item-path-prefix = item.collection | prepend: "_" %}
        {% assign item-url = item.relative_path | replace: ".markdown", "" | replace: item-path-prefix, page.club_url %}
        <entry>
            <title>{{item.title | xml_escape}}</title>
            <link href="{{item-url}}" />
            <id>{{item-url}}</id>
            <updated>{{item.date | date_to_xmlschema}}</updated>
            <published>{{item.date | date_to_xmlschema}}</published>
            <category term="{{item.category}}" />
            <summary>{{item.competition-description | strip_html | xml_escape }}</summary>
            <content type="xhtml"><div xmlns="http://www.w3.org/1999/xhtml">{{item.competition-description}}</div></content>
            <author>
                <name>{{page.club-name}}</name>
                <uri>{{page.club_url}}/</uri>
            </author>
        </entry>
    {% endfor %}
</feed>