---
layout: club-layout
title: Processing your entry
---
{% include club_base_url.html %}

<main role="main" class="container">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2 class="my-4">{{page.title}}</h2>
            <p class="mb-5">
                This is required to confirm your entry.
            </p>
            <p class="mb-2">
                <img src="https://assets01.buyexpressly.com/club/img/trophy-gray.png" alt="" class="mx-auto mb-4 d-block" />

			<script type="text/javascript">   
				function Redirect() 
				{  
					window.location="{{club_base}}/thank-you-page";
				} 
				document.write("It will only take 5 seconds"); 
				setTimeout('Redirect()', 5000);   
			</script>
            </p>
	    </div>
		<!-- Conversant Media 300x250 Medium Rectangle CODE for NMEAAA -->
		<div class="col-12 text-center">
		<br />
			<script type="text/javascript">var vclk_options = {sid:121276,media_id:7,media_type:9,version:"1.4",secure:"on"};</script><script class="vclk_pub_code" type="text/javascript" src="https://secure.cdn.fastclick.net/js/adcodes/pubcode.min.js?sid=121276&media_id=7&media_type=9&version=1.4&exc=1"></script><noscript><a href="https://secure.fastclick.net/w/click.here?sid=121276&m=7&c=1" target="_blank"><img src="https://secure.fastclick.net/w/get.media?sid=121276&m=7&tp=9&d=s&c=1&vcm_acv=1.4" width="180" height="150" border="1"></a></noscript>
		</div>
		<!-- END - Conversant Media 300x250 Medium Rectangle CODE for NMEAAA -->
    </div>
	<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYD623L', 'placement:demo');
  	}
})();
</script>
</main>
